<div class="content-body" style="min-height: 1140px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Albomda Düzəliş</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form>

                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <div
                                            class="media d-sm-flex d-block text-center text-sm-left pb-4 mb-4 border-bottom">
                                            <img alt="image" class="rounded mr-sm-4 mr-0" width="130"
                                                src="/images/profile/6.jpg">
                                            <div class="media-body align-items-center">
                                                <div
                                                    class="d-sm-flex flex-column d-block justify-content-between my-3 my-sm-0">
                                                    <label>Albom Şəkli</label>
                                                    <div class="custom-file">
                                                        <input type="file" name="imageFile" class="custom-file-input">
                                                        <label class="custom-file-label">Fayl seç</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Albomun Adı</label>
                                        <input type="text" name="albumName" class="form-control"
                                            placeholder="Albom Adı">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Janr</label>
                                        <select class="form-control" id="sel1">
                                            <option>Hip Hop</option>
                                            <option>Pop</option>
                                            <option>Rock</option>
                                            <option>Classic</option>
                                        </select>
                                    </div>
                                    <div class="form-group ml-3">
                                        <label>Online Statusu</label>
                                        <div class="radio">
                                            <label><input type="radio" name="onlineStatus" checked="checked"> Online</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" name="onlineStatus"> Offline</label>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Yenilə</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>