<div class="content-body">
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="profile card card-body px-3 pt-3 pb-0">
                    <div class="profile-head">
                        <div class="photo-content">
                            <div class="cover-photo"></div>
                        </div>
                        <div class="profile-info">
                            <div class="profile-photo">
                                <img src="/images/profile/6.jpg" class="img-fluid rounded-circle" alt="">
                            </div>
                            <div class="profile-details">
                                <div class="profile-name px-3 pt-2">
                                    <h4 class="text-primary mb-0">Artist Adı</h4>
                                    <p>Artist</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="profile-statistics mb-5">
                            <div class="text-center">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="m-b-0">150</h3><span>İzləyici</span>
                                    </div>
                                    <div class="col">
                                        <h3 class="m-b-0">140</h3><span>İzləyir</span>
                                    </div>
                                    <div class="col">
                                        <h3 class="m-b-0">45</h3><span>Bəyənmələr</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="profile-blog mb-5">
                            <h5 class="text-primary d-inline">Son bəyəndiyim musiqilər</h5>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <div class="profile-tab">
                            <div class="custom-tab-1">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"><a href="#my-posts" data-toggle="tab"
                                            class="nav-link active show">Musiqilərim (0)</a>
                                    </li>
                                    <li class="nav-item"><a href="#about-me" data-toggle="tab" class="nav-link">Albomlarım (0)</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="my-musics" class="tab-pane fade active show"></div>
                                    <div id="my-albums" class="tab-pane fade"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="copyright">
        <p>Copyright © Designed &amp; Developed by <a href="http://dexignzone.com/" target="_blank">DexignZone</a> 2020
        </p>
    </div>
</div>