.custom-login-button {
    background: #12c2e9;
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    border: 0;
    transition: 0.4s;
}

.custom-input-border:focus {
    border: 1px solid #b4b4b4;
}

.most-listened-music-image {
    width: 50px;
    width: 50px;
}

.edit-feat-tbody img {
    border-radius: 12px;
    width: 80px;
    width: 80px;
}